{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>
    Testing out Input Deletion
    </title>
</head>
<body>
   <div class="container">
        <div class="row">
          {% if seer %}
          <div class="col-sm-12">
            {% for items in seer %}
              <div class="col-sm-4" id="uploadGetter">
                <img src="{{items.uploadImg.url}}" alt=""  >
              </div>
            {% endfor %}
          </div>
          {% endif %}
        </div>
   </div>
</body>
</html>